In [1]:
import pandas as pd
import numpy as np

In [2]:
my_list = ["Apple", "Banana", "Cherry"]

In [3]:

my_list = ["Apple", "Banana", "Cherry"]

my_series = pd.Series(my_list)

print(my_series)

0     Apple
1    Banana
2    Cherry
dtype: object

In [4]:
my_array = np.array([10, 20, 30, 40, 50])

In [5]:

# Creating a numpy array
my_array = np.array([10, 20, 30, 40, 50])

# Creating a Series from the numpy array
series_from_array = pd.Series(my_array)

print(series_from_array)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [6]:
my_dict = {
    "Name": "Alice",
    "Age": 25,
    "Occupation": "Engineer"
}

In [7]:
my_dict = {
    "Name": "Alice",
    "Age": 25,
    "Occupation": "Engineer"
}

my_series = pd.Series(my_dict)

print(my_series)

Name             Alice
Age                 25
Occupation    Engineer
dtype: object

In [8]:
my_tuple = ("Apple", "Banana", "Cherry")

In [9]:
my_tuple = ("Apple", "Banana", "Cherry")

my_series = pd.Series(my_tuple)

print(my_series)

0     Apple
1    Banana
2    Cherry
dtype: object

In [10]:
df = pd.read_csv("housing.csv")
df.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0

In [11]:
series = df['Rooms']
series.head()

0    2
1    2
2    3
3    3
4    4
Name: Rooms, dtype: int64

In [12]:
series = df.iloc[:, 2]
series.head()

0    2
1    2
2    3
3    3
4    4
Name: Rooms, dtype: int64

In [13]:
#############Custom Index############

In [14]:
data = [10, 20, 30, 40]
index = ['A', 'B', 'C', 'D']

series = pd.Series(data, index=index)
series

A    10
B    20
C    30
D    40
dtype: int64

In [15]:
print(series['A']) 
print(series['C'])

10
30

In [16]:
# Create a Series with default numerical indices
series_default = pd.Series([85, 92, 78, 90, 88])

# Create a Series with custom index labels
series_custom = pd.Series([85, 92, 78, 90, 88], index=['Math', 'English', 'Science', 'History', 'Art'])

print("Series with default numerical indices:")
print(series_default)
print("\nSeries with custom index labels:")
print(series_custom)

Series with default numerical indices:
0    85
1    92
2    78
3    90
4    88
dtype: int64

Series with custom index labels:
Math       85
English    92
Science    78
History    90
Art        88
dtype: int64

In [17]:
# Define stock prices
prices = [100.50, 102.20, 98.75, 101.80, 99.45]

# Define custom index labels as dates
dates = ['2023-06-20', '2023-06-21', '2023-06-22', '2023-06-23', '2023-06-24']

# Create a Series with custom index labels representing stock prices
stocks = pd.Series(prices, index=pd.to_datetime(dates))

print("Stock prices with contextual information:")
print(stocks)

Stock prices with contextual information:
2023-06-20    100.50
2023-06-21    102.20
2023-06-22     98.75
2023-06-23    101.80
2023-06-24     99.45
dtype: float64

In [18]:
print(stocks['2023-06-21'])

102.2

In [19]:
# Create a Series with default numerical indices
series_default = pd.Series([10, 20, 30, 40])

# Create a Series with custom index labels
series_custom = pd.Series([10, 20, 30, 40], index=['A', 'B', 'C', 'D'])

print("Series with default numerical indices:")
print(series_default)
print("\nSeries with custom index labels:")
print(series_custom)

Series with default numerical indices:
0    10
1    20
2    30
3    40
dtype: int64

Series with custom index labels:
A    10
B    20
C    30
D    40
dtype: int64

In [20]:
print(series_custom['B'])

20

In [21]:
print(series_default[1])

20

In [22]:
#############Assigning Name################

In [23]:
series = pd.Series([10, 20, 30, 40], name='MySeries')

In [24]:
df = pd.DataFrame({'A': [10, 20, 30, 40]})
series = df['A']
series.name = 'MySeries'

In [25]:
###########Analyzing Size, Shape, Uniqueness, and Value Counts in a Pandas Series#############33

In [26]:
series = pd.Series([10, 20, 30, 40, 50])
size = len(series)
print("Size of the Series:", size)

Size of the Series: 5

In [27]:
series = pd.Series([10, 20, 30, 40, 50])

# Obtaining the shape of the Series
shape = series.shape

print("Shape of the Series:", shape)

Shape of the Series: (5,)

In [28]:
series = pd.Series([10, 20, 30, 40, 50, 10, 20])

# Obtaining the unique values in the Series
unique_values = series.unique()

print("Unique values in the Series:", unique_values)

Unique values in the Series: [10 20 30 40 50]

In [29]:
series = pd.Series([10, 20, 30, 40, 50, 10, 20, 30, 20])

# Obtaining the value counts in the Series
value_counts = series.value_counts()

print("Value counts in the Series:\n", value_counts)

Value counts in the Series:
 20    3
10    2
30    2
40    1
50    1
dtype: int64

In [30]:
######################Analyzing Data with head, tail, and Sample###############################

In [31]:
# Create a Series
series = pd.Series([10, 20, 30, 40, 50, 60, 70, 80, 90, 100])

# Display the default head (first 5 rows)
default_head = series.head()
print("Default head:\n", default_head)

Default head:
 0    10
1    20
2    30
3    40
4    50
dtype: int64

In [32]:
custom_head = series.head(3)
print("Custom head:\n", custom_head)

Custom head:
 0    10
1    20
2    30
dtype: int64

In [33]:
# Display the default tail (last 5 rows)
default_tail = series.tail()
print("Default tail:\n", default_tail)

Default tail:
 5     60
6     70
7     80
8     90
9    100
dtype: int64

In [34]:
custom_tail = series.tail(3)
print("Custom tail:\n", custom_tail)

Custom tail:
 7     80
8     90
9    100
dtype: int64

In [35]:
# Obtain a random sample of 3 elements
sample_data = series.sample(3)
print("Random sample from the Series:\n", sample_data)

Random sample from the Series:
 6    70
3    40
4    50
dtype: int64

In [36]:
s = pd.Series([1, 2, 3, 4, 5], index=['A', 'B', 'C', 'D', 'E'])

# Accessing a single element by label
element = s['B']

print('single element by label',element)  
print(' ')
# Accessing multiple elements by labels
subset = s[['A', 'C', 'E']]
print('multiple elements by labels\n', subset)

single element by label 2

multiple elements by labels
 A    1
C    3
E    5
dtype: int64

In [37]:
# Accessing a single element by position
element = s[2]
print('single element by position', element)  
print(' ')
# Accessing multiple elements by positions
subset = s[[0, 2, 4]]
print('multiple elements by positions\n', subset)

single element by position 3

multiple elements by positions
 A    1
C    3
E    5
dtype: int64

In [38]:
s = pd.Series([1, 2, 3, 4, 5], index=['A', 'B', 'C', 'D', 'E'])

# Accessing a single element by label
element = s.loc['B']
print('single element by label', element)  
print(' ')
# Accessing multiple elements by labels
subset = s.loc[['A', 'C', 'E']]
print('multiple elements by labels\n',subset)

single element by label 2

multiple elements by labels
 A    1
C    3
E    5
dtype: int64

In [39]:

# Accessing a single element by position
element = s.iloc[2]
print('single element by position',element)  # Output: 3
print(' ')
# Accessing multiple elements by positions
subset = s.iloc[[0, 2, 4]]
print('multiple elements by positions/n',subset)

single element by position 3

multiple elements by positions/n A    1
C    3
E    5
dtype: int64

In [40]:
##############################Arithmetic Operations in Series##################

In [41]:
# Create two pandas Series
s1 = pd.Series([2, 4, 6, 8, 10])
s2 = pd.Series([1, 3, 5, 7, 9])

# Perform addition operation
s3 = s1 + s2

# Print the result
print(s3)

0     3
1     7
2    11
3    15
4    19
dtype: int64

In [42]:
# Create two pandas Series
s1 = pd.Series([2, 4, 6, 8, 10])
s2 = pd.Series([1, 3, 5, 7, 9])

# Perform subtraction operation
s3 = s1 - s2

# Print the result
print(s3)

0    1
1    1
2    1
3    1
4    1
dtype: int64

In [43]:
s1 = pd.Series([2, 4, 6, 8, 10])
s2 = pd.Series([1, 3, 5, 7, 9])

# Perform multiplication operation
s3 = s1 * s2

# Print the result
print(s3)

0     2
1    12
2    30
3    56
4    90
dtype: int64

In [44]:
s1 = pd.Series([2, 4, 6, 8, 10])
s2 = pd.Series([1, 2, 3, 4, 5])

# Perform division operation
s3 = s1 / s2

# Print the result
print(s3)

0    2.0
1    2.0
2    2.0
3    2.0
4    2.0
dtype: float64

In [45]:
s1 = pd.Series([10, 9, 8, 7, 6])
s2 = pd.Series([2, 3, 2, 3, 2])

# Perform modulo operation
s3 = s1 % s2

# Print the result
print(s3)

0    0
1    0
2    0
3    1
4    0
dtype: int64

In [46]:
s1 = pd.Series([2, 4, 6, 8, 10])
s2 = pd.Series([1, 3, 5])
s3 = s1 + s2
print(s3)

0     3.0
1     7.0
2    11.0
3     NaN
4     NaN
dtype: float64

In [47]:
s1 = pd.Series(['a', 'b', 'c'])
s2 = pd.Series(['d', 'e', 'f'])
s3 = s1 + s2
print(s3)

0    ad
1    be
2    cf
dtype: object

In [48]:
s1 = pd.Series([2, 4, 6], index=['a', 'b', 'c'])
s2 = pd.Series([1, 3, 5], index=['b', 'c', 'd'])
s3 = s1 + s2
print(s3)

a    NaN
b    5.0
c    9.0
d    NaN
dtype: float64

In [49]:
s1 = pd.Series([2, 4, 6])
s2 = pd.Series([1.0, 2.0, 3.0])
s3 = s1 + s2
print(s3)

0    3.0
1    6.0
2    9.0
dtype: float64

In [50]:
s1 = pd.Series([2.0, 4.0, 6.0])
s2 = pd.Series([0, 0, 0])
s3 = s1 / s2
print(s3)

0    inf
1    inf
2    inf
dtype: float64

In [51]:
###Broadcasting ##########

In [52]:

import numpy as np

a = np.array([1, 2, 3])
b = 2
c = a * b
print(c)

[2 4 6]

In [53]:
s = pd.Series([1, 2, 3, 4, 5])

# Broadcasting addition
result = s + 1
print(result)

0    2
1    3
2    4
3    5
4    6
dtype: int64

In [54]:
###############filtering###############

In [55]:
s = pd.Series([1, 5, 3, 9, 4])

# Filtering values greater than 2 and less than 7
filtered_data = s[(s > 2) & (s < 7)]
print(filtered_data)

1    5
2    3
4    4
dtype: int64

In [56]:
s = pd.Series(['apple', 'banana', 'cherry', 'kiwi', 'orange'])

# Filtering elements equal to "apple" or "banana"
filtered_data = s[(s == 'apple') | (s == 'banana')]
print(filtered_data)

0     apple
1    banana
dtype: object

In [57]:
s = pd.Series(['apple', 'banana', 'cherry', 'kiwi', 'orange'])

# Filtering elements in ['apple', 'kiwi', 'grape']
filtered_data = s[s.isin(['apple', 'kiwi', 'grape'])]
print(filtered_data)

0    apple
3     kiwi
dtype: object

In [58]:
s = pd.Series([1, 3, 5, 7, 9])

# Filtering values between 3 and 7
filtered_data = s[s.between(3, 7)]
print(filtered_data)

1    3
2    5
3    7
dtype: int64

In [59]:
########### NAN ####################

In [60]:


arr = np.array([1, 2, np.nan, 4, 5])

# Addition
result_add = arr + 2
print(result_add)

[ 3.  4. nan  6.  7.]

In [61]:
# Multiplication
result_mul = arr * 2
print(result_mul)

[ 2.  4. nan  8. 10.]

In [62]:
s = pd.Series([1, 2, np.nan, 4, 5])

# Addition
result_add = s + 2
print(result_add)

0    3.0
1    4.0
2    NaN
3    6.0
4    7.0
dtype: float64

In [63]:
# Multiplication
result_mul = s * 2
print(result_mul)

0     2.0
1     4.0
2     NaN
3     8.0
4    10.0
dtype: float64

In [64]:

arr = np.array([1, 2, np.nan, 4, 5])

# Mean calculation using np.mean() in NumPy
mean_np = np.mean(arr)
print(mean_np)

nan

In [65]:
# Median calculation using np.median() in NumPy
median_np = np.median(arr)
print(median_np)

nan

In [66]:
s = pd.Series([1, 2, np.nan, 4, 5])

# Mean calculation using mean() in Pandas Series
mean_pd = s.mean()
print(mean_pd)

3.0

In [67]:
# Median calculation using median() in Pandas Series
median_pd = s.median()
print(median_pd)

3.0