In [1]:
import pandas as pd

# Creating a Timestamp from a string
timestamp_str = "2023-10-19 14:30:00"
timestamp = pd.Timestamp(timestamp_str)
print(timestamp)

2023-10-19 14:30:00

In [2]:
timestamp_str = "2023/10/19 14:30:00"
timestamp = pd.Timestamp(timestamp_str)
print(timestamp)

2023-10-19 14:30:00

In [3]:
timestamp_str = "10-19-2023 14:30:00"
timestamp = pd.Timestamp(timestamp_str)
print(timestamp)

2023-10-19 14:30:00

In [4]:
    import pandas as pd

    # Creating a Timestamp using parameters
    timestamp = pd.Timestamp(year=2023, month=10, day=19, hour=14, minute=30, second=0)
    print(timestamp)

2023-10-19 14:30:00

In [5]:
# Creating a Timestamp
timestamp = pd.Timestamp("2023-10-19 14:30:00")

# Accessing timestamp attributes and properties
print("Year:", timestamp.year)
print("Month:", timestamp.month)
print("Day:", timestamp.day)
print("Hour:", timestamp.hour)
print("Minute:", timestamp.minute)
print("Second:", timestamp.second)
print("Microsecond:", timestamp.microsecond)
print("Day of the week (0=Monday, 6=Sunday):", timestamp.dayofweek)
print("Day of the year:", timestamp.dayofyear)
print("Is it a leap year?", timestamp.is_leap_year)

Year: 2023
Month: 10
Day: 19
Hour: 14
Minute: 30
Second: 0
Microsecond: 0
Day of the week (0=Monday, 6=Sunday): 3
Day of the year: 292
Is it a leap year? False

In [6]:
from datetime import datetime

# Creating a datetime object for a specific date and time
dt = datetime(2023, 10, 19, 14, 30, 0)
print(dt)

2023-10-19 14:30:00

In [7]:
# Creating a datetime object for a specific date and time
dt = datetime(2023, 10, 19, 14, 30, 0)

# Extracting components
year = dt.year
month = dt.month
day = dt.day
hour = dt.hour
minute = dt.minute
second = dt.second
microsecond = dt.microsecond

# Printing the extracted components
print(f"Year: {year}")
print(f"Month: {month}")
print(f"Day: {day}")
print(f"Hour: {hour}")
print(f"Minute: {minute}")
print(f"Second: {second}")

Year: 2023
Month: 10
Day: 19
Hour: 14
Minute: 30
Second: 0

In [8]:
from datetime import datetime

# Creating a datetime object for a specific date and time
dt = datetime(2023, 10, 19, 14, 30, 0)

# Formatting the datetime as a string
formatted_datetime = dt.strftime("%Y-%m-%d %H:%M:%S")

# Printing the formatted datetime
print(formatted_datetime)

2023-10-19 14:30:00

In [9]:
from datetime import datetime
import random

# Generate a datetime index for a month, starting from October 1, 2023
start_date = datetime(2023, 10, 1)
end_date = datetime(2023, 10, 15)
date_index = pd.date_range(start=start_date, end=end_date, freq='D')

# Generate random temperature data for each day
temperature_data = [random.uniform(60, 80) for _ in date_index]

# Create a Series with a datetime index
temperature_series = pd.Series(temperature_data, index=date_index)
temperature_series

2023-10-01    75.550854
2023-10-02    70.950306
2023-10-03    75.152774
2023-10-04    66.079876
2023-10-05    78.399431
2023-10-06    73.326583
2023-10-07    77.636648
2023-10-08    73.080332
2023-10-09    75.388359
2023-10-10    76.166928
2023-10-11    69.887674
2023-10-12    71.412684
2023-10-13    60.059215
2023-10-14    76.170724
2023-10-15    62.794483
Freq: D, dtype: float64

In [10]:
# Create a datetime index
date_index = pd.date_range(start='2023-01-01', end='2023-01-05', freq='D')

# Create a DataFrame with a datetime index and sample data
data = {
    'Temperature (째C)': [20.1, 21.3, 19.8, 22.5, 20.9],
    'Humidity (%)': [50, 48, 52, 47, 49]
}

df = pd.DataFrame(data, index=date_index)

# Print the DataFrame
df

            Temperature (째C)  Humidity (%)
2023-01-01              20.1            50
2023-01-02              21.3            48
2023-01-03              19.8            52
2023-01-04              22.5            47
2023-01-05              20.9            49

In [11]:
# Select data for a specific date
specific_date_data = df.loc['2023-01-02']
specific_date_data

Temperature (째C)    21.3
Humidity (%)        48.0
Name: 2023-01-02 00:00:00, dtype: float64

In [12]:
# Select data for a range of dates
date_range_data = df['2023-01-02':'2023-01-04']
date_range_data

            Temperature (째C)  Humidity (%)
2023-01-02              21.3            48
2023-01-03              19.8            52
2023-01-04              22.5            47

In [13]:
# Create a datetime index with various dates
date_index = pd.to_datetime(['2022-12-15', '2023-01-02', '2023-02-10', '2023-03-25', '2024-01-05'])

# Create a DataFrame with temperature and humidity data
data = {
    'Temperature (째C)': [18.5, 20.1, 19.8, 21.5, 22.0],
    'Humidity (%)': [55, 50, 48, 53, 49]
}

df = pd.DataFrame(data, index=date_index)

# Print the DataFrame
print(df)

            Temperature (째C)  Humidity (%)
2022-12-15              18.5            55
2023-01-02              20.1            50
2023-02-10              19.8            48
2023-03-25              21.5            53
2024-01-05              22.0            49

In [14]:
# Select data for January 2023
january_data = df.loc['2023-01']
print(january_data)

            Temperature (째C)  Humidity (%)
2023-01-02              20.1            50

In [15]:
january_2nd_data = df[df.index.day == 2]
print(january_2nd_data)

            Temperature (째C)  Humidity (%)
2023-01-02              20.1            50

In [16]:
year_2023_data = df.loc['2023']
print(year_2023_data)

            Temperature (째C)  Humidity (%)
2023-01-02              20.1            50
2023-02-10              19.8            48
2023-03-25              21.5            53

In [19]:
# Create a datetime index for daily data
date_index = pd.date_range(start='2023-01-01', end='2023-01-15', freq='D')

# Generate random daily temperature data
temperature_data = [20.1 + i * 0.2 for i in range(len(date_index))]

# Create a DataFrame with daily data
df = pd.DataFrame({'Temperature (째C)': temperature_data}, index=date_index)

df

            Temperature (째C)
2023-01-01              20.1
2023-01-02              20.3
2023-01-03              20.5
2023-01-04              20.7
2023-01-05              20.9
2023-01-06              21.1
2023-01-07              21.3
2023-01-08              21.5
2023-01-09              21.7
2023-01-10              21.9
2023-01-11              22.1
2023-01-12              22.3
2023-01-13              22.5
2023-01-14              22.7
2023-01-15              22.9

In [20]:
# Downsample to weekly data with mean aggregation
weekly_mean = df['Temperature (째C)'].resample('W').mean()
weekly_mean

2023-01-01    20.1
2023-01-08    20.9
2023-01-15    22.3
Freq: W-SUN, Name: Temperature (째C), dtype: float64

In [22]:
# Create a DataFrame with monthly temperature data
data = {
    'Date': ['2023-01-01', '2023-02-01', '2023-03-01'],
    'Temperature (째C)': [20.1, 21.5, 22.0]
}

df = pd.DataFrame(data)
df['Date'] = pd.to_datetime(df['Date'])

# Set the 'Date' column as the index
df.set_index('Date', inplace=True)
df

            Temperature (째C)
Date
2023-01-01              20.1
2023-02-01              21.5
2023-03-01              22.0

In [23]:
# Upsample to daily data with linear interpolation
df_upsampled = df.resample('D').asfreq().interpolate(method='linear')

# Print the upsampled DataFrame
print(df_upsampled)

            Temperature (째C)
Date
2023-01-01         20.100000
2023-01-02         20.145161
2023-01-03         20.190323
2023-01-04         20.235484
2023-01-05         20.280645
2023-01-06         20.325806
2023-01-07         20.370968
2023-01-08         20.416129
2023-01-09         20.461290
2023-01-10         20.506452
2023-01-11         20.551613
2023-01-12         20.596774
2023-01-13         20.641935
2023-01-14         20.687097
2023-01-15         20.732258
2023-01-16         20.777419
2023-01-17         20.822581
2023-01-18         20.867742
2023-01-19         20.912903
2023-01-20         20.958065
2023-01-21         21.003226
2023-01-22         21.048387
2023-01-23         21.093548
2023-01-24         21.138710
2023-01-25         21.183871
2023-01-26         21.229032
2023-01-27         21.274194
2023-01-28         21.319355
2023-01-29         21.364516
2023-01-30         21.409677
2023-01-31         21.454839
2023-02-01         21.500000
2023-02-02         21.517857
2023-02-03         21.535714
2023-02-04         21.553571
2023-02-05         21.571429
2023-02-06         21.589286
2023-02-07         21.607143
2023-02-08         21.625000
2023-02-09         21.642857
2023-02-10         21.660714
2023-02-11         21.678571
2023-02-12         21.696429
2023-02-13         21.714286
2023-02-14         21.732143
2023-02-15         21.750000
2023-02-16         21.767857
2023-02-17         21.785714
2023-02-18         21.803571
2023-02-19         21.821429
2023-02-20         21.839286
2023-02-21         21.857143
2023-02-22         21.875000
2023-02-23         21.892857
2023-02-24         21.910714
2023-02-25         21.928571
2023-02-26         21.946429
2023-02-27         21.964286
2023-02-28         21.982143
2023-03-01         22.000000

In [25]:
# Create a DataFrame with temperature data
data = {
    'Date': ['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05'],
    'Temperature (째C)': [20.1, 21.5, 22.0, 23.2, 22.8]
}

df = pd.DataFrame(data)
df['Date'] = pd.to_datetime(df['Date'])
df.set_index('Date', inplace=True)
df

            Temperature (째C)
Date
2023-01-01              20.1
2023-01-02              21.5
2023-01-03              22.0
2023-01-04              23.2
2023-01-05              22.8

In [28]:
# Creating a lagged feature for temperature with a lag of 1 time period
df['Temperature (째C)_lag1'] = df['Temperature (째C)'].shift(1)

In [29]:
df

            Temperature (째C)  Temperature (째C)_lag1
Date
2023-01-01              20.1                    NaN
2023-01-02              21.5                   20.1
2023-01-03              22.0                   21.5
2023-01-04              23.2                   22.0
2023-01-05              22.8                   23.2

In [30]:
# Creating a lead feature for temperature with a lead of 1 time period
df['Temperature (째C)_lead1'] = df['Temperature (째C)'].shift(-1)

In [31]:
df

            Temperature (째C)  Temperature (째C)_lag1  Temperature (째C)_lead1
Date
2023-01-01              20.1                    NaN                    21.5
2023-01-02              21.5                   20.1                    22.0
2023-01-03              22.0                   21.5                    23.2
2023-01-04              23.2                   22.0                    22.8
2023-01-05              22.8                   23.2                     NaN

In [32]:
# Calculate a 3-day rolling mean of daily temperature data
rolling_mean_3d = df['Temperature (째C)'].rolling(window=3).mean()

In [33]:
rolling_mean_3d

Date
2023-01-01          NaN
2023-01-02          NaN
2023-01-03    21.200000
2023-01-04    22.233333
2023-01-05    22.666667
Name: Temperature (째C), dtype: float64

In [35]:
# Calculate a 3-day rolling standard deviation of daily temperature data
rolling_std_3d = df['Temperature (째C)'].rolling(window=3).std()

In [37]:
# Print the result
rolling_std_3d

Date
2023-01-01         NaN
2023-01-02         NaN
2023-01-03    0.984886
2023-01-04    0.873689
2023-01-05    0.611010
Name: Temperature (째C), dtype: float64

In [41]:
# Create a DataFrame with monthly sales data
data = {
    'Date': ['2023-01-01', '2023-02-01', '2023-03-01', '2023-04-01', '2023-05-01'],
    'Monthly Sales': [1000, 1200, 900, 1100, 950]
}

df = pd.DataFrame(data)
df['Date'] = pd.to_datetime(df['Date'])
df.set_index('Date', inplace=True)

# Calculate a 3-month rolling sum of monthly sales data
rolling_sum_3m = df['Monthly Sales'].rolling(window=3).sum()

In [42]:
# Print the result
rolling_sum_3m

Date
2023-01-01       NaN
2023-02-01       NaN
2023-03-01    3100.0
2023-04-01    3200.0
2023-05-01    2950.0
Name: Monthly Sales, dtype: float64

In [46]:

# Create a DataFrame with daily closing price data
data = {
    'Date': ['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05'],
    'Closing Price': [100.2, 101.0, 101.5, 100.8, 101.2]
}

df = pd.DataFrame(data)
df['Date'] = pd.to_datetime(df['Date'])
df.set_index('Date', inplace=True)

df

            Closing Price
Date
2023-01-01          100.2
2023-01-02          101.0
2023-01-03          101.5
2023-01-04          100.8
2023-01-05          101.2

In [48]:
# Calculate a 3-day Exponential Moving Average (EMA) of daily closing prices
ema_3d = df['Closing Price'].ewm(span=3).mean()
# Print the result
ema_3d

Date
2023-01-01    100.200000
2023-01-02    100.733333
2023-01-03    101.171429
2023-01-04    100.973333
2023-01-05    101.090323
Name: Closing Price, dtype: float64

In [50]:
# Create a DataFrame with date and time information in separate columns
data = {
    'Year': [2023, 2023, 2023],
    'Month': [1, 2, 3],
    'Day': [15, 20, 25],
    'Hour': [10, 15, 18],
    'Minute': [30, 45, 0],
    'Second': [0, 0, 0]
}

df = pd.DataFrame(data)
df

   Year  Month  Day  Hour  Minute  Second
0  2023      1   15    10      30       0
1  2023      2   20    15      45       0
2  2023      3   25    18       0       0

In [51]:
# Assemble a datetime column from multiple columns
df['Datetime'] = pd.to_datetime(df[['Year', 'Month', 'Day', 'Hour', 'Minute', 'Second']], format='%Y-%m-%d %H:%M:%S')

   Year  Month  Day  Hour  Minute  Second            Datetime
0  2023      1   15    10      30       0 2023-01-15 10:30:00
1  2023      2   20    15      45       0 2023-02-20 15:45:00
2  2023      3   25    18       0       0 2023-03-25 18:00:00

In [52]:
df

   Year  Month  Day  Hour  Minute  Second            Datetime
0  2023      1   15    10      30       0 2023-01-15 10:30:00
1  2023      2   20    15      45       0 2023-02-20 15:45:00
2  2023      3   25    18       0       0 2023-03-25 18:00:00